version: '3'

x-default: &default
  restart: unless-stopped
  logging:
    options:
      max-size: "10m"
      max-file: "3"

services:
  alerts:
    <<: *default
    container_name: alerts
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      BOT_NAME: bot_username
      BOT_TOKEN: 20..2:A..BOY
      MONGODB_URL: mongodb://ip:27017/vm-telegram
      MONGODB_NAME: vm-telegram
      MONGODB_USER: user
      MONGODB_PASS: pass
    volumes:
      - /vm_telegram.yml:/app/config.yml:ro
